#chart {
  width: 800px;
  height: 400px;
  background-color: #f7f7f7;
  margin: 25px auto;
}

.increase-btn,
.decrease-btn {
  border: 2px solid coral;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 1rem;
  font-size: 1rem;
  background: white;
  color: coral;
  outline: none;
}

.increase-btn:hover,
.decrease-btn:hover {
  cursor: pointer;
  font-weight: 900;
  /* border: 2px solid #e65c00; */
  color: #e65c00;
}

.button_panel {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: auto;
}
.number-panel,
.color-panel,
.size-panel {
  border: 1px solid coral;
  border-radius: 2%;
  width: 200px;
}

.panelScreen {
  /* border: 2px solid grey; */
  border-radius: 10%;
  height: 20px;
  width: 200px;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: coral;
  margin: auto;
  font-family: sans-serif;
  letter-spacing: 2px;
}

.update-btn {
  border: 3px solid coral;
  border-radius: 10%;
  font-family: sans-serif;
  color: coral;
  font-weight: 700;
  height: 30px;
  margin: auto 0;
}

.change-color-btn {
  border: 2px solid coral;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 1rem;
  font-size: 1rem;
  background: white;
  color: coral;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: center;
}
